*{
    box-sizing: border-box;
}
body{
    margin: 0px;
   
   
}
.menu{
    position: fixed;
    /* overflow: hidden; */
    background-color: rgba(61, 61, 165, 0.84);
    width: 100%;
    
}
.menu ul{
    list-style: none;
    margin: 10px;
    padding: 10px;
}
.menu li{
    float: right;
    position: relative;
    width: 100px;
    height: 30px;

}

.menu ul li a{ 
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-weight:lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
   
}
h1{
  
    text-decoration: none;
    display: inline;
    color: aliceblue;


}
.menu li :hover{
    transition: 1s;
    background-color: red;
    border-radius: 10px;
}
section{
    background-image: url(arkaplan.jpeg);
    background-position: center;


   
 
}
.main-section {
    width: 100%;
    height: 740px; 
}

.content{
    height: 740px;
    padding: 130px 200px 0 200px;
    text-align: center;
    
}
#css-content{
    height: 2200px;
}
.conteiner{
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.content-title{
    background-color: orangered;
    text-align: center;
    color: white;
    font-size: 25px;
}

.content-text{
    text-align: start;
    color: white;
    font-size: 16px;
    padding: 20px 30px 0 30px;
}

.form-container{
    color: white;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 20px;
}
.form-second-container{
    
    margin: 15px;
}

.form-second-container label{
    margin: 10px;
    margin-right: 40px;
}
.form-second-container input{
    font-size: 20px;
    margin-left: 20px;
}
.form-second-container textarea{
    margin-top: 10px;
}

