@model List<Category>
<div class="row">
   <div class="col-md-12">
       <h6 class="display-4">Admin Category</h6>
       <hr />
<table class="table table-bordered mt-2">
    <thead>
        <tr>
            <th width="30">ID</th>
            <th width="100">Image</th>
            <th>Name</th>
            <th width="30">Home</th>
            <th width="30">Approved </th>
            <th width="30">Price </th>
            <th width="140">Actions</th>
        </tr>
    </thead>
    <tbody>
     
    </tbody>
</table>
   </div>
</div>